<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.blog.excel.mapper.ExcelMapper">

    <select id="list" resultType="com.system.blog.excel.vo.ExcelVO">
        SELECT `time`, `age`, `total`, `male`, `female`
        FROM `excel`
        WHERE 1
    </select>
    
    <insert id="batchInsert2" parameterType="java.util.List">
        INSERT INTO `excel`(`time`, `age`, `total`, `male`, `female`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.time}, #{item.age}, #{item.total}, #{item.male},
            #{item.female})
        </foreach>
    </insert>
    
</mapper>