<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.blog.news.naver.NaverNewsMapper">
    <insert id="createNewsNaver">
        insert into `naver_news` (`id`, `reg_date`, `category_id`, `thumbnail`, `summary`,
        `title_name`, `title_contents`, `reporter`,
        `newspaper`, `open_yn`, `view_count`, `link`)
        values (#{id}, #{reg_date}, #{category_id}, #{thumbnail}, #{summary},
        #{title_name}, #{title_contents}, #{reporter},
        #{newspaper}, #{open_yn}, 0, #{link})
    </insert>

    <insert id="batchInsertNaver" parameterType="java.util.List">
        INSERT INTO `naver_news`(`id`, `reg_date`, `category_id`, `thumbnail`, `summary`, `title_name`, `title_contents`, `reporter`, `newspaper`, `open_yn`, `view_count`, `link`)
        VALUES
            (#{id}, now(),1, #{thumbnail}, #{summary}, #{title_name},
            #{title_contents},#{reporter},#{newspaper},#{open_yn},#{view_count},#{link})
    </insert>

    <insert id="batchInsert2Naver" parameterType="java.util.List">
        INSERT INTO `naver_news`(`id`, `reg_date`, `category_id`, `thumbnail`, `summary`, `title_name`, `title_contents`, `reporter`, `newspaper`, `open_yn`, `view_count`, `link`)
        VALUES
            (#{id}, now(),1, #{thumbnail}, #{summary}, #{titleName},
            #{titleContents},#{reporter},#{newspaper}, 'y', 0, #{link})
    </insert>

    <update id="updateNewsNaver">
        UPDATE
        `naver_news`
        SET
        `category_id` = #{category_id},
        `thumbnail` = #{thumbnail},
        `summary` = #{summary},
        `title_name` = #{title_name},
        `title_contents` = #{title_contents},
        `reporter` = #{reporter},
        `newspaper` = #{newspaper},
        `open_yn` = #{open_yn},
        `link` = #{link}
        WHERE
        id = #{id}
    </update>


    <select id="getNewsNaver" resultType="com.system.blog.news.naver.NewsVONaver">
        SELECT
        `id`, `reg_date`, `category_id`, `thumbnail`, `summary`,
        `title_name`, `title_contents`, `reporter`,
        `newspaper`, `open_yn`, `view_count`, `link`
        FROM `naver_news` WHERE 1
    </select>
    <select id="getAllNewsNaver" resultType="com.system.blog.news.naver.NewsVONaver">
        SELECT
        `id`, `reg_date`, `category_id`, `thumbnail`, `summary`,
        `title_name`, `title_contents`, `reporter`,
        `newspaper`, `open_yn`, `view_count`, `link`
        FROM `naver_news` WHERE 1
        ORDER BY `reg_date` desc
        LIMIT #{offset}, #{size}
    </select>

    <select id="countAllNewsNaver" resultType="java.lang.Integer">
        SELECT
        count(id)
        FROM `naver_news` WHERE 1
    </select>

    <select id="detailNewsNaver" resultType="com.system.blog.news.naver.NewsVONaver">
        SELECT
        `id`, `reg_date`, `category_id`, `thumbnail`, `summary`,
        `title_name`, `title_contents`, `reporter`,
        `newspaper`, `open_yn`, `view_count`, `link`
        FROM `naver_news`
        WHERE `id` = #{id}
    </select>
    <select id="getCategoryNaver" resultType="egovframework.rte.psl.dataaccess.util.EgovMap">
        SELECT
        `id`, `name`, `sort`
        FROM `naver_news_category` WHERE 1
    </select>
</mapper>